absl-py==0.9.0
alabaster==0.7.12
altgraph==0.17
anytree==2.7.1
apache-beam==2.16.0
appdirs==1.4.3
arandr==0.1.10
asn1crypto==1.1.0
astor==0.8.1
astroid==2.2.5
astropy==4.0
attrdict==2.0.1
attrs==19.2.0
audioread==2.1.8
blimpy==1.4.2
bokeh==1.4.0
braintreehttp==0.5.0
Brlapi==0.7.0
btrfsutil==1.1.1
bz2file==0.98
CacheControl==0.12.5
cached-property==1.5.1
cachetools==3.1.1
catfish==1.4.10
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
coinbase==2.1.0
colorama==0.4.1
constantly==15.1.0
contextlib2==0.6.0.post1
crcmod==1.7
cryptography==2.7
cycler==0.10.0
Cython==0.29.15
cytoolz==0.10.1
decorator==4.4.0
defusedxml==0.6.0
deluge==2.0.3
Deprecated==1.2.6
dill==0.3.1.1
distlib==0.2.9
distro==1.4.0
dm-sonnet==1.35
dnspython==1.16.0
docker==4.1.0
docker-pycreds==0.4.0

